.offer{
    background-image: url(../../assets/BG.jpg);
    background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
    padding-top: 120px !important;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .plan{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.plans{
    margin: 5px 2rem;
    }
.plans_offer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 1px 1px 10px rgba(124, 121, 121, 0.172);
padding: 3rem 4rem;
}
.plans_offer h3{
    font-size: 1.5rem;
}
.plans_offer h1 span:nth-of-type(1){
    font-size: 1.5rem
}
.plans_offer h1 span:nth-of-type(2){
    font-size:2.5rem;
    font-weight: bold;;
}
.plans_offer p{
    font-size:medium;
    color: #272727d3;
}
.plans_offer button{
    height: 3rem;
    width: 7rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    border-radius: 2rem;
}
.plans_offer:nth-child(1){
    background-color: #D4FDFE;
}
.plans_offer:nth-child(2){
    background-color: #fff;
    transform: scale(1.1);
    
    
}
.plans_offer:nth-child(1) button, .plans_offer:nth-child(3) button{
    background-color: #fff;
color: rgba(0, 0, 0, 0.699);   
}
.plans_offer:nth-child(1) button:hover, .plans_offer:nth-child(3) button:hover{
   border: 2px solid #0a9ddc;
   transition: 0.5s;
}
.plans_offer:nth-child(2) button{
   background-color:  #0a9ddc;
    /* transition: 0.5s; */
 }
 .plans_offer:nth-child(2) button:hover{
    border:2px solid #0a9ddc;
     transition: 0.5s;
     color: #000;
     background-color: transparent;
  }
.plans_offer:nth-child(3){
    background-color: #D4FDFE;
}
.offer-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}
.offer-header h1{
    font-size: xx-large;
    padding-bottom: 0.1rem;
    color: #272727d3;
}
.offer-header p{
    font-size: small;
    color: #272727d3;
}