.department{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-top: 7rem;
    background-image: url(../../assets/Rectangle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    padding: 2rem;
}
.department_header{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
}
.department_header h1{
    font-size: xx-large;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.department_header p{
    font-size: small;
    font-family: sans-serif;
    color: rgba(0, 107, 157, 0.65);
}
.category{
    padding: 5rem 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 4rem;
    justify-items: center;
    place-content: center;
    background-color: #fff;
    margin: 0rem 1rem;
}
.catergory_box{
    /* width: 250px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.catergory_box .img{
    width: 5rem;
    height: auto;
margin-bottom: 1rem;
}
.catergory_box img{
    width: 100%;
}
.catergory_box h3{
font-size: medium;
font-family: serif;
color: rgb(32, 32, 32);
}
.catergory_box p{
    font-size: small;
    font-family: sans-serif;
    color: rgb(60, 60, 60);
    line-height: 1.3rem;
    }