.about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 2rem;
    justify-items: center;
    margin-top: 7rem;
    place-items: center;
    place-content: center;
    padding: 3rem;
}
.about_img{
    width: 100%;
}
.about_img img{
    width: 100%;
}
h1 span:nth-of-type(2){
    font-weight: lighter;
}
.about p{
    font-size: 12px;
    color: rgb(0, 120, 171);
    padding-bottom: 2rem;
}
small{
    color: rgb(90, 105, 116);
}
.about-faq{
    width: 30rem;
}
.accordion{
  margin-top: 3rem;
  width: 100%;
}
.item{
    margin-bottom: 5px;
}
.title{
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background-color: #efefef;
    padding: 1rem;
    height: 4rem;
    border-radius: 0.5rem;
    font-weight:lighter;
    width: 100%;
}
.title.active{
    background-color:#3CE2AD ;
}
.title span{
    font-size: 2.2rem;
}
.content{
    color: rgb(47, 47, 47);
    max-height: 0;
    overflow: hidden;
    transition: all ease-out 0.5s cubic-bezier(0,1,0,1);
   
}
.content.show{
    height: auto;
    max-height: 999px;
    transition: all ease-in 0.5s cubic-bezier(0,1,0,1);
    padding: 2rem;
    font-size: small;
    line-height: 1.5rem;
}

@media(max-width:966px){
    .about-grid{
        display: flex;
        flex-direction: column;
    }
    .about_img{
        width: 80%;
    }
    .about_img img{
        width: 100%;
    }
    .about-faq{
        width: 100%;
    }
}
@media(max-width:788px){
    .doctorSide{
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
    }
}
    @media(max-width:500px){
        .counter{
            grid-template-columns: 1fr 1fr;
        }
        .about_img{
            width: 100%;
        }
        .about_img img{
            width: 100%;
            height: 100%;
        }
        h1 span:nth-of-type(2){
            text-align: center;
        }
        .content.show{
            padding: 1rem;
            font-size: medium;
        }
        .title{
            width: 100%;
        }
       .title h2{
        font-size: 0.9rem;
       }
    }
    @media(max-width:350px){
        .about_img{
            width: 100%;
            height: 100%;
        }
        .about_img img{
            width: 100%;
            height: 100%;
        }
        .about-faq h1{
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            font-size: 1.2rem;
            text-align: center;
     
        }
        .about-faq h1 span{
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .about-faq small{
            word-break: break-all;
        }
        .accordion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .content{
            word-break: break-all;
        }
    }