.Faq-Page {
    padding: 3rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
}
.heading{
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    
}
.heading span:nth-of-type(1){
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 0rem;
}
.heading span:nth-of-type(2){
    font-size: 2rem;
    padding-top: 0rem;
    font-weight: bold;
    color: rgb(35, 35, 35);
}
.heading button{
    width: 9rem;
    height: 3.3rem;
    outline: none;
    border: none;
    background-color: #4cedb4;
    color: #fff;
    font-weight: bold;
    border-radius: 3rem;
margin-top: 3rem;
}

@media(max-width:753px){
    .Faq-Page{
        grid-template-columns: 1fr;
    }
    .heading{
    
        padding-left: 0rem;
        gap: 1rem;
        
    }
}
@media(max-width:500px){
    .heading span:nth-of-type(1){
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 0rem;
    }
}

@media(max-width:350px){
  /* .item h2{
    width: fit-content;
  } */
  .Faq-Page {
    padding: 0rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns:  1fr;
    grid-gap: 2rem;
    justify-items: center;
}
}